**/__pycache__/
*.pyc
.DS_Store
**/.DS_Store

# Task 1 — MNIST Classification
mnist-classification/data/
mnist-classification/.gitignore

# Task 2 — NER + Image Classification
ner_image_classification/classification/data/
ner_image_classification/models/